h1.title {
    font-size: 20px !important;
    font-family: Arial !important;
    color: grey !important;
    font-weight:bold !important;
    margin-bottom: 0 !important;
    padding: 10px !important;
}


#EditorWrapper .navbar{
    margin:0;
    padding-left:10px;
}

#EditorWrapper .navbar ul li{
    display:inline-block;
}

#ButtonWrapper {
    padding:20px;
}

#EditCode,
#Login{
    width:100%;
}

#HTMLEditor, #CSSEditor, #JSEditor  {
    height:30%
}

#Result{

}

#GitHucContent{
    background-color:aliceblue;
    border-bottom: solid 1px lightsteelblue;
    padding:10px;
}

#MainControls{
    text-align:center;
    border-top: solid 1px lightsteelblue;
    border-bottom: solid 1px lightsteelblue;
    background-color:aliceblue;
}

#MainControls .material-icons{
    font-size:48px;
    margin:20px;
}

#RepoControls,
#ProjectDD {
    display:inline-block;
}

#ProjectDD .dropdown-menu,
#ProjectDD button{
    width:370px;
}

#RepoControls{
    margin-left:5px;
}

#RepoControls a {
    padding: 8px 5px;
    display: inline-block;
}

#CreateControls{
    margin-bottom:10px;
}

#CreateControls input{
    width:325px;
}

#CreateControls i{
    font-size: 30px;
    padding: 5px;
}

#Result .pluginMessage{
    padding:10px;
    text-align:center;
}

#Result .pluginMessage i{
    vertical-align: top;
}

#LoginControls{
    border-top: solid 1px lightsteelblue;
    padding:10px;
}

#LoginControls button{
    width:100%;
}

#LoginControls button i{
    margin-left: 10px;
}

#LoginButton{
    width:100%;
}

#UserName{
    float:left;
    padding:5px;
}

#RefreshReposButton{
    right: 10px;
    position: absolute;
}

.dropdown-item:hover{
    background-color: aliceblue;
    cursor:pointer;
}

.repoName{
    font-weight:bold;
    font-size:14px;
}

.repoDescription{
    font-size:10px;
    color:#555;
}

.dropdown-item.isLoaded {
    border:solid 1px #ccc;
    font-weight:bold;
    font-size:14px;
    background-color:lightyellow;
}
.dropdown-item.isLoaded .repoName {
    color:black;
}

.repoControls{
    position: absolute;
    top:10px;
    right:10px;
}

.repoControls a{
    margin-left:5px;
}

.noProjects{
    padding:10px;
}